@layer base, utils, components;

@import "@webtui/css/base.css";

@import "@webtui/css/utils/box.css";

@import "@webtui/css/components/button.css";
@import "@webtui/css/components/typography.css";
@import "@webtui/css/components/badge.css";
@import "@webtui/css/components/input.css";
@import "@webtui/css/components/textarea.css";

@import '@webtui/theme-catppuccin';

@layer base {
    :root {
        --font-family: JetBrains, Menlo, Monaco, monospace, "Symbols Nerd Font";
    }
}

.input {
    display: block;
}

.input input {
    background: var(--background0);
    width: 100%;
}

.input textarea {
    background: var(--background0);
    resize: vertical;
    width: 100%;
    min-height: 115px;
}

html, body, #root {
  height: 100%;
  padding: 0;
  margin: 0;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-y-auto {
    overflow-y: auto;
}