@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 16px;

    --primary: 223 11% 12%;
    --secondary: 210 1% 98%;
  }

  .dark {
    --primary: 0 0% 96%;
    --secondary: 223 11% 12%;
  }

  ::-webkit-scrollbar {
    @apply w-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-secondary;
  }

  ::-webkit-scrollbar-thumb {
    @apply w-1 bg-primary/30 rounded-lg;
  }

  html, body, #root {
    @apply h-full;
  }

  body {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: theme(colors.secondary);
    color: theme(colors.primary);
  }
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .backface-visible {
    backface-visibility: visible;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}
