@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .backface-visible {
    backface-visibility: visible;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

html, body, #root {
  height: 100%;
  margin: 0;
}

#grid {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto;
  grid-template-areas: "content" "navigation";
}

#gridContent {
  grid-area: content;
  overflow: hidden;
}

#gridNavigation {
  grid-area: navigation;
}
